* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid;
    border-color: black;
    padding: 5px;
  }
.cabecalho{
    background-color: #C6C6A7;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.cabecalho button{
    padding: 10px;

}

.cabecalho button:active{
    background-color: #94947C;
}

.cabecalho .dropdown{
    position: relative;
    display: inline-block;
}

.cabecalho .dropdown-content{
    display: none;
    position: absolute;
    background-color: #C6C6A7;
    min-width: 150px;
}

.cabecalho .dropdown-content a{
    padding: 5px;
    display: block;
}

.cabecalho .dropdown:active .dropdown-content{
    display: flex;
    flex-direction: column;
}

.lateral{
    background-color: #D0D070;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 1200px;
}

.botaocabecalho{
    background-color: #C6C6A7;
    border: none;
    padding: 15px;
    cursor: pointer;
    box-shadow: #878772 3px 7px 0px;
    transition: transform 400ms, box-shadow 400ms;
}

.botaocabecalho:active{
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

.botaolateral{
    background-color: #D0D070;
    border: none;
    padding: 15px;
    cursor: pointer;
    box-shadow: #52522C 0px 7px 0px;
    transition: transform 400ms, box-shadow 400ms;
}

.botaolateral:active{
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

.conteudo{
    background-color: beige;
    width: 80vw;
    height: 1200px;
}

.container{
    display: flex;
}

@media (max-width: 600px) {

    .container{
        flex-direction: column  ;
    }

    .lateral{
        width: 100%;
        height: fit-content;
    }
    .conteudo{
        width: 100%;
    }
}

.loader{
    width: 50px; /* Largura do circulo */
    height: 50px; /* Altura do circulo */
    border: 5px solid #000; /* Definindo a espessura da borda, o tipo e a cor do quadrado */
    border-bottom-color: teal; /* Define a cor da parte de baixo do quadrado */
    border-radius: 50%; /* Aumenta o raio do quadrado para transformar em um circulo */
    display: inline-block; /* serve para bloquear a visualização e manter o circulo fino e expandido */
    box-sizing: border-box; /* Não sei */
    animation: rotation 1s linear infinite; /* Define para rodar, ele completa o ciclo em 1 segundo e ele vai fazer isso infinitamente */
}

@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}